<h1>My List</h1>
<% if @lists.any? %>
  <div class="list-container">
    <% @lists.each do |list| %>
      <div class="card-list">
        <%= link_to list.name, list_path(list) %>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No hay listas disponibles.</p>
<% end %>

<%= link_to 'New List', new_list_path, class: 'btn btn-success' %>
